<div class="options-bar">
	<div class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Sort by <b class="caret"></b></a>
		<ul class="dropdown-menu">
			
		 	<li><a href="/creativework/showlist/oldest">Oldest</a></li>
		 	<li><a href="/creativework/showlist/newest">Newest</a></li>
		 	<!--
		 	<li><a href="/creativework/showlist/popular">Popular</a></li>
		 	<li><a href="/creativework/showlist/highest">Highest Rated</a></li>
		 	<li><a href="/creativework/showlist/lowest">Lowest Rated</a></li>
		 	-->
		</ul><span>{{ active_episodes.count }} episodes in {{  active_series.count }} shows</span>
	</div>
			
	
</div>
 